.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0 0;
  margin-bottom: -120px;
}

@media (min-width: 768px) {
  .background-image {
    padding: 300px 0 0;
  }
}

.image-header {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  padding: 40px 0 0;
  margin-bottom: 140px;
}

/* .header-content {
  position: absolute;
  top: 183px;
} */
